*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* #region utility */

.container{
    width: 70%;
    max-width: 1152px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.lh_1-8{
    line-height: 1.8rem;
}

.fc_light-black{
    color: #1a1e21;;
}

.bg-light{
    background-color: #f6f6f6;
}

.footer-low{
    padding: 1rem 2rem 0 2rem;

}

.col-2{
    width: calc((100% / 12) * 2);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-5{
    width: calc((100% / 12) * 5);
}

.col-7{
    width: calc((100% / 12) * 7);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-10{
    width: calc((100% / 12) * 10);
}

.col-12{
    width: 100%;
}

/* #endregion utility */

/* #region header */

#site-header{
    padding: .5rem;
    background-color: #255ee9;
    font-weight: 600;
}

.header-bar{
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}

.logo,.menu,.login{
    padding: .5rem;
}

.menu>.links{
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu a{
    padding-right: 2rem;
    color: #ffffff;
}

.login{
    display: flex;
    justify-content: flex-end;
}

#button-accedi{
    background-color: #ffffff;
    border: #ffffff;
    padding: 7px 12px;
    border-radius: 1rem;
    font-size: 13px;
    font-weight: 600;
}

/* #endregion header */



/* #region main */

/* #region main-section */

.main-section{
    background-image: url(../img/jumbo.png);
    height: 495px;
    background-size: cover;
}

.main-infos{
    margin: auto;
    padding: 4rem 5rem;
    text-align: center;
    color: white;
}

.main-section h1{
    padding: 2rem;
    font-size: 50px;
}

.main-section p{
    padding: 0 70px;
}

.buttons{
    margin: 1.5rem;
}

#button-scarica{
    margin-right: .5rem;
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    border: none;
    border-radius: 2rem;
    font-size: 16px;
    color: #1a1e21;
    font-weight: 600;
}

#button-apri-discord{
    margin-left: .5rem;
    padding: 1rem 1.5rem;
    background-color:#1a1e21;
    border: none;
    border-radius: 2rem;
    font-size: 16px;
    color: #ffffff;
}

/* #endregion main-section */

/* channels */

.channels img{
    margin-top: 7rem;
}

.channels h2{
    font-size: 40px;
    padding: 9.5rem 2rem 0 8rem;
}

.channels p{
    padding: 1rem 2.5rem 0 8rem;
}

/* conforts */

/* #endregion main */

/* #region footer */

.footer-low{
    border-top: 1px solid white;
}

.lower-strip{
    justify-content: space-between;
    padding: 10px 0;
}

/* #endregion footer */





/* Debug */
.debug header{
    background-color: #add8e6;
}


.debug .header-bar{
    background-color: #d9a41f;
}

.debug [class*="col-"]{
    border: 1px dashed black;
}

.debug main [class*="col-"]{
    height: 20rem;
}

.debug footer [class*="col-"]{
    height: 20rem;
}

.debug .main-section{
    background-color: #00008b;
}

.debug .main-infos{
    background-color: #ee82ee;
}

.debug .conforts, .debug .tecnology{
    background-color: #d3d3d3;
}

.debug .col-7{
    background-color: #1e90ff;
}

.debug .col-5{
    background-color: #ffc0cb;
}

.debug .tecno{
    background-color: #228b22;
}

.debug .col-4{
    background-color: #f08080;
}

.debug footer .col-2{
    background-color: #20b2aa;
    border: 1px dashed white;
}

.debug footer{
    background-color: #23272a;
}

.debug .lower-strip{
    background-color: #7fffd4;
    
}

.debug .logo-footer, .debug .registration{
    background-color: #eda8b4;
    border: 1px dashed black;
    padding: 4px;
}